<h1>Ecco il tuo dipartimento</h1>

o-- descrizione [_____________]
<button>Modifica descrizione</button><br>
o-- indirizzo <%=link_to 'Maps'%><br>
o-- numero di piani [_]<br>
o-- slot prenotabili [__]<br>
o-- orario apertura [__:__]<br>
o-- orario chiusura [__:__]<br><br>

<p>Find me in app/views/department/index.html.erb</p>
