<h1>Ecco le tue prenotazioni!</h1>



<button onclick="window.location.href='/make_reservation'">-----------------------Effettua una nuova prenotazione-----------------------</button>

<p>Find me in app/views/my_reservations/index.html.erb</p>
