<h1>Area personale</h1>

<table>
    <tr>
      <td>Username <td><button>Modifica username</button></td>
    </tr>
    <tr>
      <td>Email:   <td>[ <%= current_user.email %> ]</td>
    </tr>
    <tr>
      <td>Password <td><button>Modifica password</button></td>
    </tr>
</table>

<br>
<br>

<table border="1" width="100%" style="text-align:center">
  <tr>
    <td width="70%">
      <table width="100%">
        <tr>
          <td><button onclick="window.location.href='/user_reservations'" style="width:100%"><h4>Le mie prenotazioni</h4></button></td>
          <td><button onclick="window.location.href='/favourite_spaces'" style="width:100%"><h4>Spazi preferiti</h4></button><br></td>
        </tr>
        <tr>
          <td><button onclick="window.location.href='/make_reservation'" style="width:100%"><h4>Effettua una nuova prenotazione</h4></button><br>
          <td><button style="width:100%"><h4>Effettua prenotazione rapida</h4></button><br>
        <tr>
          <td colspan="2">
            <% if current_user.is_manager? %>
              <button onclick="window.location.href='/manager_department'" style="width:100%"><h4>Il mio dipartimento</h4></button>
            <% end %>
          <td>
        </tr>
      </table>
    </td>
    <td width="30%">
      <button>sincronizza</button> Google calendar<br>
    </td>
  </tr>
</table>