
<h1>Area personale</h1>

Username
<button onclick="window.location.href='/personal_area'">Modifica username</button>
Email <%= current_user.email%><br>
Password
<button onclick="window.location.href='/personal_area'">Modifica password</button><br>
<br><br>

<% if user_signed_in? %>
    <button onclick="window.location.href='/my_reservations'"><br><br><br><br>-Le mie prenotazioni-----------------</button>
    <button onclick="window.location.href='/favorites_spaces'"><br><br><br><br>-Spazi preferiti-----------------------</button><br>
    <button onclick="window.location.href='/make_reservation'"><br><br><br><br>-Effettua una nuova prenotazione</button>
    <button onclick="window.location.href=''"><br><br><br><br>-Effettua prenotazione rapida---</button>
    Google calendar
    <button onclick="window.location.href='/personal_area'">sincronizza</button><br>
    <button disabled onclick="window.location.href='/department'"><br><br><br><br>---------------------------------Il mio dipartimento---------------------------------</button>
  <% end %>


<p>Find me in app/views/personal_area/index.html.erb</p>