<h1>Area personale</h1>

Username <button>Modifica username</button><br>
Email: [ <%= current_user.email %> ] <br>
Password <button>Modifica password</button><br>

<br>
<br>

<% if user_signed_in? %>
    <button onclick="window.location.href='/user_reservations'"><h3>Le mie prenotazioni</h3></button>

    <button onclick="window.location.href='/favourite_spaces'"><h3>Spazi preferiti</h3></button><br>
    
    <button onclick="window.location.href='/make_reservation'"><h3>Effettua una nuova prenotazione</h3></button><br>
    <button><h3>Effettua prenotazione rapida</h3></button><br>
    <button>sincronizza</button> Google calendar<br>
    
    <button onclick="window.location.href='/manager_department'"><h3>Il mio dipartimento</h3></button>

    <!--
    <% if current_user.roles in ["manager"] %>
      <button onclick="window.location.href='/manager_department'"><h3>Il mio dipartimento</h3></button>
    <% end %>
    -->
    
  <% end %>