<section>
  <h5>Prossimi 10 eventi</h5>
  <table class="">
    <thead>
    <tr>
      <th class="">Ora</th>
      <th class="">Descrizione</th>
    </tr>
    </thead>
    <tbody>
    <div>
    <%= month_calendar do |date| %>
      <%= date.day %>
        <div>
              <%= @hash[date.to_s] %>
        </div>
    <% end %>
    </div>
    </tbody>
  </table>
</section>