<div class="modal fade" id="dep<%= department.id %>DescModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <label class="h4"> Descrizione </label>
                <button class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= department.description %>
            </div>
        </div>
    </div>
</div>