<div class="modal fade" id="depID<%= space.id %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <label class="h4"> <%= space.typology %> <%= space.name %> - Descrizione </label>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= space.description %>
            </div>
        </div>
    </div>
</div>