<div class="modal fade" id="dep<%= department.id %>MapModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen mt-4 ms-auto me-auto" style="width: 80%; height: 80%">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                    <div><!-- Serve per mandare a capo il text-small -->
                        <label class="h4 mb-0"> Pianta interattiva del dipartimento </label><br>
                        <div class="small"> Clicca nell'area del designer per modificare il modello per il tuo dipartimento. Ricorda di modificare i dati del tuo dipartimento di conseguenza! </div>
                    </div>
                <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>