<!-- Modal che mostra la descrizione dello spazio -->
<div class="modal fade" id="depID<%= space.id %>" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> <%= space.typology %> <%= space.name %> - Descrizione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= space.description %>
            </div>
        </div>
    </div>
</div>