  <% if !user_signed_in? %>
    <button onclick="window.location.href='/users/sign_in'">Accedi</button><br>
    <button onclick="window.location.href='/users/sign_up'">Registrazione</button><br>
  <% end %>

<h1>Home</h1>

  <% if !user_signed_in? %>
    Accedi o registrati per essettuare le prenotazioni <br>
    <button onclick="window.location.href='/users/sign_in'">Dipartimento 1</button>
    <button onclick="window.location.href='/users/sign_in'">Dipartimento 2</button><br>
    <button onclick="window.location.href='/users/sign_in'">Dipartimento 3</button>
    <button onclick="window.location.href='/users/sign_in'">Dipartimento 4</button><br>
  <% else %>
    <button onclick="window.location.href='/make_reservation'">Dipartimento 1</button>
    <button onclick="window.location.href='/make_reservation'">Dipartimento 2</button><br>
    <button onclick="window.location.href='/make_reservation'">Dipartimento 3</button>
    <button onclick="window.location.href='/make_reservation'">Dipartimento 4</button><br>
  <% end %>

<p>Find me in app/views/home/index.html.erb</p>