
<p>Find me in app/views/home/index.html.erb</p>

<button onclick="window.location.href='/users/sign_in'">Accedi</button>
<button onclick="window.location.href='/users/sign_up'">Registrazione</button>