
<p>Find me in app/views/home/index.html.erb</p>

<% if !user_signed_in? %>
    <button onclick="window.location.href='/users/sign_in'">Accedi</button>
    <button onclick="window.location.href='/users/sign_up'">Registrazione</button>
  <% end %>

<% if user_signed_in? %>
    <button onclick="window.location.href='/home'">Personal Area</button>
    [<%= link_to 'Logout', destroy_user_session_path, :method => :delete%>]
  <% end %>

