<!-- modal della descrizione degli spazi temporanei nella tabella -->

<div class="modal fade" id="depID<%= jcs.id %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <label class="h4"> <%= jcs.typology %> <%= jcs.name %> - Descrizione</label>
                <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= jcs.description %>
            </div>
        </div>
    </div>
</div>