<!-- modal della descrizione degli spazi temporanei nella tabella -->

<div class="modal fade" id="depID<%= jcs.id %>" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> <%= jcs.typology %> <%= jcs.name %> - Descrizione</h5>
                <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= jcs.description %>
            </div>
        </div>
    </div>
</div>