<h1>Informazioni generali sul sito</h1>

Il sito è progettato per consitere agli utenti di prenotare spazi differenti all'interno di un dipartimento selezionato, 
eventualmente impostando un dato spazio come spazio per la prenotazione rapida. <br><br>

Per dubbi o difficoltà non esitare a contattarci al seguente indirizzo mail < mail >

<p>Find me in app/views/informations/index.html.erb</p>
