// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// CODICE PER index.html

.grid-container-page {
    text-align: center;
    // border: 1.5px solid rgb(12, 175, 0);
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 0.5fr 6fr;
    grid-template-columns: 6fr 4fr;
    margin-bottom: 15px;
}

.descrizione {
    padding: 35px;
    font-size: 20px;
}

p {
    font-family: 'Comic Sans MS', cursive;
    text-align: justify;
    font-size: 18px;
}

.grid-item-prenRapida {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 113, 144);
}

.labelPR {
    text-align: center;
    display: inline-block;
    font-family: 'Comic Sans MS', cursive;
    font-size: 35px;
}

.testo {
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    padding: 25px;
    font-size: 20px;
}

.btnEffettuaPR {
    width: 45%;
    height: 20%;
    font-family: 'Comic Sans MS', cursive;
    color:rgb(6, 6, 175);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 0;
    background-color: rgb(142, 222, 248);
    border: 0.5px solid rgb(0, 9, 175);
    border-radius: 2px;
}

.grid-item-vuoto-r1c2 {
    width: 100%;
    height: 100%;
    // border: 0.5px solid rgb(87, 85, 84);
}

.grid-item-ricerca {
    // border: 0.5px solid rgb(0, 9, 175);
    display: grid;
}

.modulo-ricerca {
    background-color: #f6f6f6;
    border: 1px solid rgb(212, 217, 250);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 8px;
    width: 35%;
    margin-left: 20px;
    // margin-top: 10px;
    margin-bottom: 10px;
}
  
.modulo-ricerca #search {
    border: 1px solid #DDD;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 1px;
    color: rgb(0, 0, 0);
    float: left;
    font: 15px 'Comic Sans MS', cursive;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    width: 78%;
}
  
.modulo-ricerca #search:-moz-placeholder,
.modulo-ricerca #search:-ms-input-placeholder,
.modulo-ricerca #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
 }
  
.modulo-ricerca #submit {
    background-color: #4f92f6;
    border: 1px solid #142a6d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 40px;
    float: right;
    font: 15px 'Comic Sans MS', cursive;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 18%;
}

.grid-item-vuoto-r2c2 {
    width: 100%;
    height: 100%;
    // border: 0.5px solid rgb(87, 85, 84);
}

.grid-container-dipartimenti {
    text-align: left;
    // border: 0.5px solid rgb(102, 24, 0);
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}

.grid-item-dipartimenti {
    // border: 0.5px solid rgb(110, 0, 50);
    width: 100%;
    height: 100%;
}

.card {
    width: 95%;
    height: 90%;
    border: 2px solid rgb(0, 9, 175);
    display: grid;
    margin-left: 20px;
    margin-right: 2px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}

.card-body {
    width: 90%;
    height: 100%;
}

.card-title{
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    font-size: 35px;
}

.card-text{
    font-family: 'Comic Sans MS', cursive;
    text-align: justify;
    font-size: 20px;
    height: 20%;
}

.list-group {
    display: grid;
}

.label {
    text-align: left;
    display: inline-block;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
}

.btnEffettua {
    font-family: 'Comic Sans MS', cursive;
    color:rgb(6, 6, 175);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 0;
    background-color: rgb(142, 222, 248);
    border: 0.5px solid rgb(0, 9, 175);
    border-radius: 2px;
}

.grid-container-mappa {
    width: 100%;
    height: 100%;
    // border: 0.5px solid rgb(147, 126, 10);
    position: sticky;
    display: grid;
    grid-template-rows: 0.4fr 5fr 4fr;
    grid-template-columns: 1fr;
}

.grid-item1-mappa {
    text-align: center;
    display: inline-block;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    border-top: 1.5px solid rgb(10, 115, 147);
    border-left: 1.5px solid rgb(10, 115, 147);
    border-right: 1.5px solid rgb(10, 115, 147);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1.5px solid rgb(10, 115, 147);
    border-left: 1.5px solid rgb(10, 115, 147);
    border-right: 1.5px solid rgb(10, 115, 147);
}