
/*
html,
body{
  width: 100%;
  align-content: center;
  align-items: center;
  background-color:rgb(224, 242, 255);
}


.centralBox {
    width: 30%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 35%;
    align-items: center;
    border: 5px solid rgb(0, 9, 175);
    padding-left: 5%;
    padding-right: 5%;
    

}



h2 {
    width: 100%;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    font-size: 30px;
    margin-top: 5px;
}






.actions {
    width: 100%;
    height: 60%;
    font-family: 'Comic Sans MS', cursive;
    margin-top: -60px;
    margin-right: 100px;
    color:rgb(6, 6, 175);
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 0;
    background-color: rgb(142, 222, 248);
    border: 0.5px solid rgb(0, 9, 175);
    border-radius: 2px;
}


.form {
    width: auto;
    height: auto;
    padding: 20px 10px 20px 10px;
    border: 2px solid rgb(0, 9, 175);
    border-radius: 12px;
    position: relative;
    align-content: center;
    background-color: rgb(142, 222, 248);
}

.label {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;

  }
  
.field{
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid rgb(0, 9, 175);
    border-width: justify;
    border-radius: 5px;

    
    
 }

 .campoT{
    width:100%;
 }

 .role{
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    display: block;
    font-size: 20px;
    margin-top: 10 px;
    margin-bottom: 80px;

 }
  
  .control{
    width: 35%;
    display: inline-block;
    
  }

  .links {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      display: block;
  }

  */