<!-- Modal per l'utente visualizzabile premendo sull'apposita icona nella top-bar -->

<div class="modal fade" id="userNavModal" tabindex="-1" aria-labelledby="userNavModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="userNavModalDialog">
        <div class="modal-content form-c-label">
            <% if !user_signed_in? %>
                <div class="modal-header py-1">
                    <label class="h5 bi bi-person-x  my-1"> Non hai ancora effettuato l'accesso </label>
                    <button class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a onclick="window.location.href='/users/sign_in'" class="dropdown-item bi bi-person-check" style="padding: 10px"> Accedi </a>
                    <a onclick="window.location.href='/users/sign_up'" class="dropdown-item bi bi-person-plus" style="padding: 10px"> Registrati </a>
                </div>
            <% else %>
                <div class="modal-header py-1">
                    <label class="h5 bi bi-person-lines-fill my-1"> <%= current_user.email %> </label>
                    <button class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= link_to ' Esci', destroy_user_session_path, method: :delete, class: "dropdown-item bi bi-door-open", id: "Esci", style: "padding: 10px" %>
                    <%= link_to " Annulla la registrazione ed elimina l'utente", "/users#destroy", method: :delete, data: { confirm: "Sei sicuro di voler eliminare l'account?" }, class: "dropdown-item bi bi-trash", style: "padding: 10px" %>
                </div>
            <% end %>
        </div>
    </div>
</div>