<div class="modal fade" id="flashNavModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" id="flashNavModalDialog">
        <div class="modal-content form-c-label">
            <% if flash_messages.size == 0 %>
                <div class="modal-header">
                    <label class="h5"> Non ci sono messaggi da Spacebook </label>
                    <button class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <% else %>
                <div class="modal-header">
                    <label class="h5"> <%= flash_messages.size %> messaggi da Spacebook </label>
                    <button class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% flash_messages.each do |msg| %>
                        <%= msg %>
                        <hr class="dropdown-divider" />
                    <% end %>
                    <button onclick='window.location.reload();' class="btn btn-info text-center bi bi-check" witdh='100%'> Svuota messaggi </button>
                </div>
            <% end %>
        </div>
    </div>
</div>