<h1>Effettua la tua prenotazione!</h1>

o-- descrizione [_____________]<br>
o-- indirizzo <%=link_to 'Maps'%><br>
o-- numero di piani [_]<br>
o-- slot prenotabili [__]<br>
o-- orario apertura [__:__]<br>
o-- orario chiusura [__:__]<br><br>

<button onclick="">Visualizza tutti gli spazi</button><br><br>
Spazio x<br>
<button onclick="window.location.href='/make_reservation'">Imposta come prenotazione rapida</button>
<button onclick="window.location.href='/make_reservation'">Aggiungi spazio ai preferiti</button><br>
<button onclick="window.location.href='/make_reservation'">Prenota gli spazi selezionati</button><br>

<p>Find me in app/views/make_reservation/index.html.erb</p>
